{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron bg-light">
    <h1 class="text-success">Welcome to our Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat neque ea dolorem nulla magni odio commodi earum, 
        optio sint eum aspernatur excepturi, dolore aperiam animi qui quisquam nesciunt impedit. Dolor..</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae et eum id, nihil fugit doloremque! Officia delectus autem odit quo ipsam, accusamus ratione, 
            vel corrupti esse fuga repellendus. Maiores, repellendus.</p>
</div>
<div class="jumbotron jumbotron-fluid bg-dark text-primary" >
    <div class="container">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum voluptates praesentium mollitia vel at est illum! Nostrum cumque adipisci quo.</p>
    </div>
</div>

{% endblock content %}